<?xml version="1.0"?>
<config>
    <modules>
        <Cari_Carmod>
            <version>0.1.0</version>
        </Cari_Carmod>
    </modules>
    <global>
        <models>
            <cari_carmod>
                <class>Cari_Carmod_Model</class>
            </cari_carmod>
            <checkout>
                <rewrite>
                    <cart>Cari_Carmod_Model_Cart</cart>
                </rewrite>
            </checkout>
        </models>
        <blocks>
            <cari_carmod>
                <class>Cari_Carmod_Block</class>
            </cari_carmod>
        </blocks>
        <helpers>
            <cari_carmod>
                <class>Cari_Carmod_Helper</class>
            </cari_carmod>
        </helpers>
        <events>
            <!--<sales_quote_product_add_after>-->
                <!--<observers>-->
                    <!--<cari_carmod_observer>-->
                        <!--<type>singleton</type>-->
                        <!--<class>Cari_Carmod_Model_Observer</class>-->
                        <!--<method>addCariAdd</method>-->
                    <!--</cari_carmod_observer>-->
                <!--</observers>-->
            <!--</sales_quote_product_add_after>-->
        <controller_action_layout_render_before_adminhtml_catalog_product_edit>
            <observers>
                <herve_producteditbutton_add_button>
                    <class>Cari_Carmod_Model_Observer</class>
                    <method>addButton</method>
                </herve_producteditbutton_add_button>
            </observers>
        </controller_action_layout_render_before_adminhtml_catalog_product_edit>
        </events>
        <!--<resources>-->
            <!--<cari_carmod_setup>-->
                <!--<setup>-->
                    <!--<module>Cari_Carmod</module>-->
                <!--</setup>-->
            <!--</cari_carmod_setup>-->
        <!--</resources>-->
    </global>
</config>